.header {        
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 27px;
    flex-direction: column-reverse;

    > div {
        display: flex;        
        flex-direction: column;
        gap: 2;

        h2 {
            color: var(--primary-color);
            font-weight: 500;
            font-size: 36px;
        }

        h3 {
            color: var(--secondary-color);
            font-weight: 400;
            font-size: 30px;
        }

    }

    img {
        width: 325px;
        height: 277px;
        border-radius: 24px;
    }        
}

@media(min-width: 768px) {  
    .header {      
        flex-direction: row;
        img {
            width: 221px;
            height: 222px;
            border-radius: 400px;
            border: 1px solid #FFFF;            
        }
    }
}