:root {
  --primary-bg-color: #2C2C2C;
  --primary-color: #FFFFFF;
  --secondary-color: #B3B3B3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
